body{
    background: lightskyblue;
    display: grid;
    place-items: center;
    min-height: 100vh;
}
main{
    width: 270px;
    background: white;
    padding: 1rem;
    border-radius: .5rem;
}
img{
    width: 100%;
    border-radius: .5rem;
    margin-bottom: .6rem;
}
.title,
.description{
    text-align: center;
}
h1{
    margin-bottom: .2rem;
    font-family: 'Montserrat', sans-serif;
}
p{
    color: hsl(210, 3%, 66%);
    font-family: 'Fraunces', serif;
}